.section-one {
  height: calc( 100vh - 60px );
  background: var(--bg-dark);
  padding: 0 20px;

  .left {
    h1, p {
      margin-bottom: 30px;
      width: 45%;
    }
    input {
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
  img {
    height: 65%;
  }
  @media only screen and(max-width: 1050px) {
    img {
      height: 50%;
    }
  }
  @media only screen and(max-width: 920px) {
    img {
      height: 35%;
    }
  }
  @media only screen and(max-width: 786px) {
    flex-direction: column;
    .left {
      p {
        width: 90%;
      }
    }
  }
}
