.section-five {
  height: 100vh;
  background: var(--bg-dark);
  .data {
    height: 100%;
    img {
      height: 60%;
      border-radius: 15px;
    }
    .right {
      width: 45%;
    }
    @media only screen and(max-width: 1050px) {
      img {
        height: 50%;
      }
    }
    @media only screen and(max-width: 920px) {
      img {
        height: 35%;
      }
    }
    @media only screen and(max-width: 786px) {
      flex-direction: column;
      .right {
        width: 90%;
      }
      .left {
        width: 90%;
      }
    }
  }
}
