.section-two {
  height: 100vh;
  background: var(--bg-light);
  padding: 0 20px;

  img {
    height: 65%;
  }
  .right {
    h1, p {
      margin-bottom: 30px;
    }
    input {
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
  @media only screen and(max-width: 1050px) {
    img {
      height: 50%;
    }
  }
  @media only screen and(max-width: 920px) {
    img {
      height: 35%;
    }
  }
  @media only screen and(max-width: 786px) {
    flex-direction: column;
  }
}
