.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.bg-green {
  background: var(--font-green);
}
.text-green {
  color: var(--font-green);
}
.text-white {
  color: var(--bg-light);
}
.text-justify {
  text-align: justify;
}
.green-box-shadow {
  -webkit-box-shadow: 6px 6px 10px -2px rgba(63,185,80,1);
  -moz-box-shadow: 6px 6px 10px -2px rgba(63,185,80,1);
  box-shadow: 6px 6px 10px -2px rgba(63,185,80,1);
}
